@tailwind base;
@tailwind components;
@tailwind utilities;

.login-main-section {
  @apply grid mx-auto min-h-screen max-w-lg min-w-fit;
}

.login-main-frame {
  @apply p-6 place-self-center;
  @apply bg-white;
}

.login-intro-header {
  @apply mt-1;
  @apply text-cyan-800 font-medium text-lg;
}

.login-intro-paragraph {
  @apply mt-10;
  @apply text-lg font-medium;
}

.login-form {
  @apply mt-14;
  @apply flex flex-col;
}

.form-label {
  @apply text-black text-base font-semibold leading-6;
}

.form-input {
  @apply mt-2 py-1 pl-3 mr-2;
  @apply text-base;
  @apply outline-none
              focus:border-blue-500
              focus:ring-blue-500
              focus:invalid:border-red-500 focus:invalid:ring-red-500;
}

.form-error {
  @apply my-3 px-3;
  @apply h-2;
  @apply text-red-500 text-sm;
}

.form-button {
  @apply mt-4 ml-auto;
  @apply h-12 w-32;
  @apply bg-submit-color;
  @apply border-submit-color;
  @apply text-white uppercase font-bold;
  @apply rounded;
  border-radius: 12px;
}
